page-about {
    .img{
        width: 286px;
        height: 395px;
        margin: auto;
    }
    #item-md {
        background: transparent;
      }
    .md{
        position: absolute;
        text-align: center;
        margin: 50;
    }
}
