page-warrior {
    .img{
        width: 286px;
        height: 395px;
        margin: auto;
    }
    ion-content{
        background-color: #fdf9f0
    }
    ion-header{
        background-color: #a4451e
    }
}
